{% extends "base.html" %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Update Profile</h1>
  <form method="post" class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
    {% csrf_token %}
    <div class="mb-4">
      <label for="id_username" class="block text-xl font-bold text-gray-700">Username:</label>
      <input type="text" name="username" id="id_username" value="{{ user.username }}"
        class="w-full p-3 border border-gray-300 rounded-lg" required>
    </div>
    <div class="mb-4">
      <label for="id_email" class="block text-xl font-bold text-gray-700">Email:</label>
      <input type="email" name="email" id="id_email" value="{{ user.email }}"
        class="w-full p-3 border border-gray-300 rounded-lg" readonly>
    </div>
    <button type="submit" class="w-full bg-green-700 text-white px-6 py-3 rounded-lg hover:bg-green-800">
      Update Profile
    </button>
  </form>
</div>
{% endblock %}