@media (max-width: 640px) {
    .mobile-bg {
        background-color: transparent !important; /* Remove the green background */
    }

    .bottom-section {
        margin-top: -20px; /* Pull the bottom section up */
        position: relative;
        z-index: 10;
    }

    .mobile-bottom-container {
        margin-top: -50px !important; /* Adjust to remove gap */
        padding: 0 !important;
        position: relative;
        z-index: 10;
    }

    .mobile-bottom-image {
        width: 100vw !important;
        height: auto !important;
        max-height: none !important;
        object-fit: cover !important;
        margin-top: -20px !important; /* Further adjust to remove any potential gaps */
    }

    .top-section {
        margin-bottom: -10px !important; /* Reduce any potential spacing */
    }
}
/* Rank-specific Styles */
.rank-1 {
  border: 4px solid #ecad0f;
  background-color: #ecad0f;
}

.rank-2 {
  border: 4px solid #8f8f8f;
  background-color: #8f8f8f;
}

.rank-3 {
  border: 4px solid #cd7f32;
  background-color: #cd7f32;
}

.rank-4 {
  border: 4px solid #464f59;
  background-color: #464f59;
}

.rank-5 {
  border: 4px solid #2f363d;
  background-color: #2f363d;
}

/* Text inside rank items */
.rank {
  font-size: 1.5rem;
  color: white;
}

 body {
    background-color: #004d00; /* Apply the green background to the whole page */
  }