body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 40px;
}
h1 {
    color: #333;
}
.leaderboard {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.rank-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.rank-item:last-child {
    border-bottom: none;
}
.rank {
    font-weight: bold;
    color: #2c3e50;
    margin-right: 10px;
}
.name {
    flex-grow: 1;
    text-align: left;
}
.points {
    text-align: right;
    color: #888;
}

.rankings {
    display: flex;
    flex-direction: column; /* This will make ranks stack vertically */
    width: 100%;
    max-width: 3xl;
}

/* Outlined text for headings and paragraphs */
.outlined-text {
    color: white;
    font-weight: bold;
    text-shadow: 
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}
