<!DOCTYPE html>
<html>
  <head>
    <title>Open a Lootbox!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <h1>Lootbox</h1>
    <form action="{% url 'open_lootbox' %}" method="get">
      <button type="submit">Open Lootbox</button>
    </form>

    {% if loot_item %}
    <p>Congratulations! You received: {{ loot_item.name }}</p>
    <img
      src="{{ loot_item.image.url }}"
      alt="{{ loot_item.name }}"
      width="200"
    />
    <p>{{ loot_item.fact }}</p>
    {% else %}
    <p>Oops! You got nothing this time.</p>
    {% endif %}
    <p><a href="{% url 'home' %}">Home</a></p>
  </body>
</html>
